body {
    background-color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    max-width: 100%;
}

nav,
footer {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #707793;
    padding: 15px 20px;
}

.user-img {
    height: 40px;
    border-radius: 50%;
}

.grid-img {
    width: 30px;
    height: 30px;
}

a {
    color: white;
    text-decoration: none;
    transition-duration: 0.25s;
}

a:hover {
    color: rgb(180, 180, 180);
}

.content-section {
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side a,
.right-side a {
    margin-right: 25px;
}

.btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.btns a {
    color: #707070;
    background: #f8f8f8;
    border-radius: 4px;
    margin: -2px -60px;
    padding: 0 16px;
    padding-top: 5px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

.btns a:hover {
    background: #c4bfbf;
    color: white;
}

.search-container {
    position: relative;
}

.search-container a {
    position: absolute;
}

input {
    width: 110%;
    left: -20%;
    position: relative;
    padding: 0 50px;
    border-radius: 50px;
    border: none;
    top: 18px;
}

.write {
    margin: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 45px;
    font-size: 16px;
}

.logo-container {
    margin-top: -150px;
}

.search-icon {
    left: -17%;
    top: 30px;
    z-index: 1;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.mic {
    right: -8%;
    top: 30px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: black;
    text-align: center;
    font-size: 13px;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}